.linkpicker-container {

  position: relative;
  border: 1px solid #2e8f75;
  background-color: rgba(224, 245, 238, 0.10);

  .linkpicker-return {
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .3s, background-color .3s;
    color: #fff;
    background-color: #4b9ad9;
    padding: 10px 15px;
    font-family: Arial !important;
    font-size: 16px !important;
    width: auto !important;
    cursor: pointer;
    &:hover {
      background-color: #31688f;
    }
  }

  &:hover > .linkpicker-return {
    opacity: 1;
  }
}

.linkpicker-pagepicker {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 50%;
  transition: background-color .3s;
  color: #fff;
  background-color: #4b9ad9;
  padding: 10px 15px;
  font-family: Arial !important;
  font-size: 16px !important;
  width: auto !important;
  cursor: pointer;
  &:hover {
    background-color: #31688f;
  }
}