.linkpicker-container {

  position: relative;
  border: 1px solid #2e8f75;
  background-color: #e0f5ee;

  .linkpicker-return {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .3s, background-color .3s;
    color: #fff;
    background-color: #4b9ad9;
    padding: 10px 15px;
    font-family: Arial !important;
    font-size: 16px !important;
    width: auto !important;
    cursor: pointer;
    &:hover {
      background-color: #31688f;
    }
  }

  &:hover > .linkpicker-return {
    opacity: 1;
  }
}